<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576"/>
  </system.web>
  <system.webServer>
      <security>
         <requestFiltering>
            <requestLimits maxAllowedContentLength="2147483648">
               
            </requestLimits>
         </requestFiltering>
      </security>
   </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=LMS;Integrated Security=True"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="_30DaysLaterSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:31909/30DaysLater.asmx" binding="basicHttpBinding"
        bindingConfiguration="_30DaysLaterSoap" contract="ServiceReference1._30DaysLaterSoap"
        name="_30DaysLaterSoap" />
    </client>
  </system.serviceModel>
</configuration>